/* ======================================================================= */
/* ======================================================================= */
/* ======================================================================= */
/* Definition of itag shadow-css is done by defining a `dummy` css-rule    */
/* for the dummy-element: `itag-css` --> its property (also dummy) `i-tag` /*
/* will define which itag will be css-shadowed                             /*
/* ======================================================================= */
itag-css {
    i-tag: i-button;  /* set the property-value to the proper itag */
}
/* ======================================================================= */
/* ======================================================================= */
/* ======================================================================= */


/* ================================= */
/* set invisiblity when not rendered */
/* ================================= */
i-button:not(.itag-rendered) {
    /* don't set visibility to hidden --> you cannot set a focus on those items */
    opacity: 0 !important;
    position: absolute !important;
    left: -9999px !important;
    top: -9999px !important;
    z-index: -1;
}

i-button:not(.itag-rendered) * {
    opacity: 0 !important;
}
/* ================================= */

i-button {
    margin: 0;
    display: inline-block;
    *display: inline; /*IE 6/7*/
    zoom: 1;
    position: relative;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

i-button.i-primary >button,
i-button.i-focussed >button {
    background-color: rgb(0, 120, 231);
    color: #fff;
}

/*csslint outline-none:false*/

i-button >button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    padding: 0.5em 1em;
    color: inherit; /* 1 */
    font: inherit; /* 2 */
    margin: 0; /* 3 */
    overflow: visible;
    text-transform: none;
    -webkit-appearance: button; /* 2 */
    line-height: normal;
    white-space: nowrap;
    vertical-align: baseline;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: inherit;
    font-size: 100%;
    color: #444; /* rgba not supported (IE 8) */
    color: rgba(0, 0, 0, 0.80); /* rgba supported */
    border: 1px solid #999;  /*IE 6/7/8*/
    border: none rgba(0, 0, 0, 0);  /*IE9 + everything else*/
    background-color: #E6E6E6;
    text-decoration: none;
    border-radius: 2px;
    box-shadow: 0 0 0 1px rgba(0,0,0, 0.15) inset;
}


i-button.i-hover >button,
i-button >button:hover,
i-button >button:focus {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000',GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(40%, rgba(0,0,0, 0.05)), to(rgba(0,0,0, 0.10)));
    background-image: -webkit-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
    background-image: -moz-linear-gradient(top, rgba(0,0,0, 0.05) 0%, rgba(0,0,0, 0.10));
    background-image: -o-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
    background-image: linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
}

i-button >button:focus {
    box-shadow: 0 0 0 1px rgba(0,0,0, 0.5) inset;
}

i-button.i-hover >button,
i-button >button:hover,
i-button.i-hover >button:focus,
i-button >button:hover:focus {
    box-shadow: 0 0 0 1px rgba(0,0,0, 0.7) inset;
}

i-button >button:focus {
    outline: 0;
}
i-button.i-active >button,
i-button >button.pure-button-active, /* need .pure-button-active for it gets set when "enter-pressed" on button */
i-button >button:active {
    box-shadow: 0 0 0 1px rgba(0,0,0, 0.4) inset, 0 0 6px rgba(0,0,0, 0.2) inset;
}

i-button.i-disabled >button,
i-button[disabled="true"] >button,
i-button.i-disabled >button:active,
i-button[disabled="true"] >button:active,
i-button.i-disabled >button.pure-button-active, /* need .pure-button-active for it gets set when "enter-pressed" on button */
i-button[disabled="true"] >button.pure-button-active,
i-button.i-disabled.i-active >button,
i-button.i-active[disabled="true"] >button,
i-button.i-disabled >button:focus,
i-button[disabled="true"] >button:focus,
i-button.i-disabled.focussed >button,
i-button.focussed[disabled="true"] >button,
i-button.i-disabled >button:hover,
i-button[disabled="true"] >button:hover {
    border: none;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    filter: alpha(opacity=60);
    -khtml-opacity: 0.60;
    -moz-opacity: 0.60;
    opacity: 0.60;
    cursor: not-allowed;
    box-shadow: 0 0 0 1px rgba(0,0,0, 0.15) inset;
    cursor: default;
}

i-button.i-rounded >button {
    border-radius: 0.3em;
}

i-button.i-heavyrounded >button {
    border-radius: 0.5em;
}

i-button.i-oval >button {
    border-radius: 50%;
}

i-button.i-halfoval >button {
    border-radius: 25%;
}